body {
   background-size: 100% 100vh;
   position: relative;
   background-repeat: no-repeat;
   background-color: #fff;

}

.formcontent {
   display: flex;
   min-height: 50vh;
   margin-left: 15%;
}

.formcontent-section {
   margin-top: 8vh;
   margin-left: 20vh;

}

.formcontent-contactform {
   margin-top: 1rem;
   margin-right: 3rem;
}

section i {


   color: #333;
   text-align: center;
}

.contactform {
   display: flex;
   position: absolute;
   top: 0;
   left: 0;
   margin-left: 50%;
   justify-content: center;
   align-items: center;
   min-height: 110vh;
   margin-top: 15%;
}

.contactform .contact-form input {
   width: 30rem;
   background-color: transparent;
   border: 0px;
   border: transparent;
   margin: 20px;
   padding: 20px;
   font-size: 18px;
   border-bottom: 2px solid #333;

}

.contactform .contact-form input~span {
   position: absolute;
   left: 20px;
   transition: 0.9s ease-in-out;
   margin-top: 10px;
}

.contactform .contact-form input:focus~span {
   transform: translateY(-20px);
   pointer-events: none;
}

.contactform .contact-form textarea {
   width: 30rem;
   border: 0;
   background-color: transparent;
   margin: 20px;
   font-size: 17px;
   border-bottom: 2px solid #333;
}

.contactform .contact-form textarea~span {
   position: absolute;
   left: 20px;
   transition: 0.9s ease-in-out;
   margin-top: 10px;
}

.contactform .contact-form textarea:focus~span {
   transform: translateY(-20px);
   pointer-events: none;
}

.contactform .contact-form input[type=submit]:hover {
   background-color: transparent;
   color: red;

}