/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


li {
    list-style: none;
}

/* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #808080;
    color: #fff;
}



/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {

    padding: 5px 14px;

}

.logo {
    font-size: 30px;
    float: left;
}

body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero-image-train.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
}

.hero-text button:hover {
    background-color: #555;
    color: white;
}


/* Table */
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

/* button */

.button {

    /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {
    padding: 10px 24px;
    background-color: goldenrod;
    border-radius: 12px;
}

.button2 {
    padding: 10px 24px;
    background-color: blue;
    border-radius: 12px;
}

.button3 {
    padding: 10px 24px;
    background-color: red;
    border-radius: 12px;
}

.button4 {
    padding: 10px 40px;
    background-color: grey;
    border-radius: 12px;
}

.button6 {
    padding: 10px 40px;
    background-color: blueviolet;
    border-radius: 12px;
}

.buttonLogin {
    padding: 10px 40px;
    background-color: goldenrod;
    border-radius: 12px;
}

.button8 {
    padding: 10px 40px;
    background-color: green;
    border-radius: 12px;
}

/* Responsive images about*/
.responsive_image_about {
    width: 100%;
    height: auto;
}


table,
th,
td {

    border-collapse: collapse;
    table-layout: fixed;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 20px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
video {
  width: 80%;
  height: auto;
  padding: 20px;
  
  }